<div class="flex flex-col h-screen bg-gray-100 w-full">
  <div class="grid place-items-center mx-2 my-20">
    <div class="w-11/12 p-12 sm:w-8/12 md:w-6/12 lg:w-5/12 2xl:w-4/12
                px-6 py-10 sm:px-10 sm:py-6
              bg-white rounded-lg shadow-md lg:shadow-lg"
    >
      <h2 class="text-center font-semibold text-3xl lg:text-3xl text-gray-800 uppercase">
        Login
      </h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mt-4">
          <%= f.label :email, class: 'block text-xs font-semibold text-gray-600 uppercase' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'block w-full py-1 px-3
                    text-gray-800 appearance-none
                    border-b-2 border-gray-100
                    focus:text-gray-500 focus:outline-none focus:border-gray-200' %>
        </div>

        <div class="field mt-4">
          <%= f.label :password, class: 'block mt-2 text-xs font-semibold text-gray-600 uppercase' %>
          <%= f.password_field :password, autocomplete: "current-password", class: 'block w-full py-3 px-3
                    text-gray-800 appearance-none
                    border-b-2 border-gray-100
                    focus:text-gray-500 focus:outline-none focus:border-gray-200' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field mt-2">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: 'text-xs font-semibold uppercase' %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: 'w-full py-3 mt-6 bg-gray-800 rounded-sm
                    font-medium text-white uppercase
                    focus:outline-none hover:bg-gray-700 hover:shadow-none' %>
        </div>
      <% end %>

      <%#= render "devise/shared/links" %>
      <div class="flex flex-wrap mt-2">
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name), class: 'text-sm w-1/2' %><br />
        <% end %>

        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'text-right text-sm w-1/2' %><br />
        <% end %>
      </div>
    </div>
  </div>
</div>
