      <%= form_with(model: kanban, local: true) do |f| %>
        <% if kanban.errors.any? %>
          <div id="error_explanation">
            <h2 class="text-sm text-red-400 mt-2"><%= pluralize(kanban.errors.count, "error") %> prohibited this kanban from being saved:</h2>

            <ul class="pl-4">
              <% kanban.errors.full_messages.each do |message| %>
                <li class="text-sm list-disc"><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field mt-4">
          <%= f.label "看板名稱", class: 'block text-xs font-semibold text-gray-600 uppercase' %>
          
          <%= f.text_field :name, class: 'block w-full py-1 px-3
                    text-gray-800 appearance-none
                    border-b-2 border-gray-100
                    focus:text-gray-500 focus:outline-none focus:border-gray-200' %>
        </div>

        <div class="field mt-4">
          <%= f.label "看板描述", class: 'block mt-2 text-xs font-semibold text-gray-600 uppercase' %>
          <%= f.text_area :description, class: 'block w-full py-3 px-3
                    text-gray-800 appearance-none
                    border-b-2 border-gray-100
                    focus:text-gray-500 focus:outline-none focus:border-gray-200' %>
        </div>

        

        <div class="actions">
          <%= f.submit "送出", class: 'w-full py-3 mt-6 bg-gray-800 rounded-sm
                    font-medium text-white uppercase tracking-widest
                    focus:outline-none hover:bg-gray-700 hover:shadow-none' %>
        </div>
      <% end %>
