<!DOCTYPE html>
<html>
  <head>
    <title>RailsVueKanban</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body class="antialiased" x-data="{ isOpen : false}">

    <!-- header -->
    <%= render "shared/navbar" %>
    <!-- end header -->

    <!-- notice -->
    <%= render "shared/flash" if notice %>  
    <!-- end notice -->

          <div class="overflow-auto h-full">
        <%= yield %>    
      </div>
        
    
   
 
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
</body>

</html>
