<!DOCTYPE html>
<html>
  <head>
    <title>RailsVueKanban</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body class="antialiased h-full">
    <div class="flex flex-col h-screen">
    <!-- header -->
    <header class="header h-16 bg-coolGray-50 w-full items-center justify-center z-50 shadow flex flex-initial">
      <%= render "shared/navbar" %>
    </header>
    <!-- end header -->

    <!-- notice -->
    <section class="flex flex-none">
      <%= render "shared/flash" if notice %>  
    </section>
    <!-- end notice -->

    <div class="flex flex-auto">
      <%= yield %>    
    </div>

</body>

</html>



